* {
	outline: none;
	--theme-color: rgb(245, 240, 110);
	box-sizing: border-box;
}

b {
    font-weight: 800;
    color: #af93ec;
}

html {
	overflow-y: scroll; /* Forza la scrollbar verticale */
}

.title {
	padding: 6%;
	color: #111010;
	text-align: center;
	background: rgb(148, 69, 252);
	display: grid;
	font-weight: bold;

    font-family: "National Park", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
	color: rgb(205, 194, 194) !important;
}

img {
    max-width: 100% !important;
}

/* header */

header {
    min-height: 100px;
    margin: 1.5rem 20% 1.5rem 20%;
    display: flex;
    justify-content: center;
}

header * {
    /*color: var(--theme-color) !important;*/
    color: rgb(189, 127, 254);
    font-size: 24px !important;

    font-family: "National Park", sans-serif;
}

/* nav */

nav {
    font-family: "National Park", sans-serif;

	margin-left: 20%;
	margin-right: 20%;
	margin-top: 1.5rem;
	line-height: 2rem;
}

nav a {
    color: #72b6b5 !important;
    font-size: 19px;
    font-weight: bold;
    padding: 20px 20px 20px 0 ;
}

nav a:hover {
    text-decoration: underline !important;
}

/* main */

main {
    margin: 2rem 20%;
    display: grid;
    grid-gap: 1.4rem;
    line-height: 1.5rem;
}

.content a {
    text-decoration: underline;
}

.post-list a {
    text-decoration: none;
    position: relative;
    color: var(--theme-color) !important;
    /* color: #72b6b5 !important; */
}

.post-list a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid var(--theme-color);
    transition: 0.4s;
}

.post-list a:hover:after {
    width: 100%;
}

.post-list a:before,
.post-list a:before {
    content: "#";
    color: #dddddd;
    position: absolute;
    left: -0.8em;
    font-weight: bold;
}

/* footer */

footer {
    color: #72b6b5;
    font-size: 11.5px;
    margin: 1rem 20% 5rem 20%;
}

footer p {
    line-height: 0rem;
    max-height: 0px;
    font-weight: 700;

    font-family: "National Park", sans-serif;
}

@media screen and (max-width: 780px) {
    nav,
    header,
    footer,
    main {
        margin-left: 3%;
        margin-right: 3%;
    }

    nav {
        line-height: 16px;
    }
}

/*
header, nav, main {
	border: 1px solid red; 
} debug */