<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="indicator"></div>
    <div id="page">
      <style>
        .walloftext p , h2 {
          font-weight: bold !important;
        }
        .walloftext h2 {
          margin: 20px 0 0 0 !important;
        }
        .walloftext p {
          margin: 0 0 20px 0 !important;
        }
      </style>
      <!-- header -->
      {% include header.html %}
      <!-- nav -->
      {% include nav.html %}
      <!-- page content -->
      <main class="content">

        <h1 class="title">{{page.title}}</h1>

        <div class="walloftext">
          <h2>
            Who is Scammer Buffer?
          </h2>
          <p>
            A computer science university student who lost almost <u>$3000</u> of
            money to a scam that lasted barely <u>a week</u>.
          </p>
          <h2>
            Why am i Here?
          </h2>
          <p>
            I am here to help you avoid the same mistakes I made.
            I will share my experience and knowledge with you,
            so you can be better prepared than i was for your entrepreneurial endeavours, if you have them. I will help you understand if any circumstance is a scamminng practice to avoid getting scammed in your business journey.
          </p>
          <p>
            Because you can't imagine how much it hurt me to have my money stolen by some heartless scammers and i didn't even tell nobody about it. My parents think i have like $4k or more with me whilst i have less than $1k now and i have to pay something every month. I live with my parents so it's easy for some things but i lost almost all of my money! So i won't let my story be unheard!
          </p>
          <p>
            So read everything here, it's free! Except that there are some ads i will put because i have to pay for the domain of the website. And maybe earn a little so i can gain my scammed money back. If you want to donate to me i would also appreciate it very much!
          </p>
          <p>
            Other than that you can also contact me with my links or socials in the dedicated page. I can talk with you for free, for a particular scamming-related situation which you find yourself in.
          </p>
          <h2>So What Will you Find on This Website?</h2>
          <p>Currently i just create many valuable articles with my story but very soon i will provide other types of articles with the most currently practiced scams in the world. Then i also have a secret project. So subscribe to the email list to stay updated with the scamming activities in the world, or just share it to someone who you might think needs it.</p>
          <h2>How Can i Help You?</h2>
          <p>Like i said feel free to contact me to receive an analysis of your chat or other conversations you may think are scams, do this before proceeding to give money to strangers please!</p>
        </div>

      </main>

      <!-- footer -->
      {% include footer.html %}
    </div>
  </body>
</html>
