<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="indicator"></div>
    <div id="page">
      <style>
        .links {
          padding: 4%;
          font-size: 21px;
          font-weight: bold;
          color: #70f05f !important;
          
        }
        .primary {
          color: rgb(151, 83, 240);
          font-weight: bold;
        }
        .goal {
          color: rgb(232, 240, 83);
          font-weight: bold;
        }
        .links a {
          line-height: 40px;
          color: #70f05f !important;
        }
      </style>
      <!-- header -->
      {% include header.html %}
      <!-- nav -->
      {% include nav.html %}
      <!-- page content -->
      <main class="content">
        <h1 class="title">Donate</h1>
        <div class="links">
          {{content}}
        </div>
        <p class="primary">Or just follow me and remember, spread the word! ;)</p>
        <p class="goal">I have the goal to get back the money i had with some donations (around $3k), in return i will keep building this guide and become a reference in antiscamming! I also plan to make other projects!</p>
      </main>

      <!-- footer -->
      {% include footer.html %}
    </div>
  </body>
</html>
