<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="indicator"></div>
    <div id="page">
      <style>
        .links {
          padding: 4%;
          font-size: 21px;
          font-weight: bold;
          color: rgb(255, 151, 99) !important;
        }
        .primary {
          color: rgb(151, 83, 240);
          font-weight: bold;
        }
        .links a {
          line-height: 40px;
          color: rgb(255, 151, 99) !important;
        }
      </style>
      <!-- header -->
      {% include header.html %}
      <!-- nav -->
      {% include nav.html %}
      <!-- page content -->
      <main class="content">
        <h1 class="title">Links</h1>
        <div class="links">
          {{content}}
        </div>
        <p class="primary">Save yourself or others from the expensive mistakes and predatory schemes that obliterate most of dropshippers or beginner entrepreneurs. Share this website with someone who you may think is interested in droshipping and let him know about scammers in these entrepreneurial fields because he is in danger!</p>
      </main>
      <!-- footer -->
      {% include footer.html %}
    </div>
  </body>
</html>