<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div id="indicator"></div>
  <div id="page">
    <!-- header -->
    {% include header.html %}
    <!-- nav -->
    {% include nav.html %}
    <!-- page content -->
    <main class="content">
      <h1 class="title">
        {{page.title}}
      </h1>
      {{content}}
    </main>

    <!-- footer -->
    {% include footer.html %}
  </div>
  
</body>
</html>