<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="indicator"></div>
    <div id="page">
      <style>
        .title {
          padding: 8%;
        }
        .meta {
          font-size: 16px;
          font-weight: 100;
          text-transform: uppercase;
          font-style: italic;
        }
      </style>
      <!-- header -->
      {% include header.html %}
      <!-- nav -->
      {% include nav.html %}
      <!-- page content -->
      <main class="content">
        <h1 class="title">{{page.title}} <span class="meta">Written By {{page.author}}</span></h1>
        {{content}}
      </main>

      <!-- footer -->
      {% include footer.html %}
    </div>
  </body>
</html>
